
/* Du kan også bruge :root selector */
* {
    /* Definerer en global variabel til vores "temafarve" */
    --col-primary: #990000;
    --col-secondary: black;

    /* Sætter Font i prioriteret rækkefølge, i tilfælde af at browseren
     ikke har en fonten. */
    font-family: Open Sans, Verdana, sans-serif;
}

/* Selector på flere tags */
h1, h2, h3 {
    color: var(--col-primary);
}

/* Centerer alt text i <body> */
body {
    margin-top: 5%;
    text-align: center;
}


/* Selector, der vælger alle <input> tags som har sin 'type' attribut
    sat til enten 'text' eller 'password'.*/
input[type=text], input[type=password] {
    margin-bottom: 1%;
    /* Fjerner boxen rundt om tekstfeltet  */
    border: none;
    border-bottom: 1px solid var(--col-secondary);
}


/* Selector der vælger de samme som ovenstående, blot
    når der 'focused', dvs */
input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid var(--col-primary);
}


/* Styler klassen 'primarybutton' */
.primarybutton {
    font-size: 100%;
    color: white;
    font-weight: bold;
    background-color: var(--col-primary);
    padding: 8px;
    margin-top: 1%;
    border-radius: 10px; /* Border radius gør vores kanter runde*/
    border: none;
    outline: none;
    /* Bonus: Brug transitions til flydende at skifte properties (her
        'background-color' og 'color', når der skiftes til denne */
    transition: background-color 0.25s, color 0.25s;
}

/* Styler hvordan knappen skal set ud, når
    der hovers over den.*/
.primarybutton:hover{
    border: none;
    color: white;
    background-color: var(--col-secondary);
    transition: background-color 0.25s, color 0.25s;
}

/* Note til primary button:
    Da alle de "knapper" vi styler, faktisk er input elementer
    med attributten 'type=submit', kan vi selecte dem alle med
    selectoren:

        input[type=submit] {
            <css>
        }

    Den vælger alle <input> elementer, der har attributten 'type'
    sat til 'submit'.
 */

